body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.table {
  & .number {
    background-color: #fff3c6;
  }

  & .star {
    background-color: #c8c8c8;
  }

  & .date {
    background-color: #9be2ff;
  }
}